/* Harry Potter */

position: absolute;
width: 295px;
height: 452px;

/* hover */

position: absolute;
width: 295px;
height: 452px;

background: #1d1d1d;
border-radius: 20px;

/* Name: Harry Potter */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Alternate names: The Boy Who Lived, The Chosen One */

position: absolute;
width: 241px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */

color: #ffffff;

/* Species: Human */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Gend: Male */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* House: Gryffindor */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Date of birth: 31-07-1980 */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Year of birth: 1980 */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Wizard: True */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Ancestry: Half-blood */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Eye colour: Green */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Hair colour: Black */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Wand: Wood : holly, core : phoenix feather, length : 11 */

position: absolute;
width: 255px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* or 20px */

color: #ffffff;

/* Patronus: Stag */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Hogwarts student: True */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Hogwarts staff: False */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Actor: Daniel Radcliff */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;

/* Alive: True */

position: absolute;
width: 255px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

color: #ffffff;
