// :root {
//   --color-gold: #fabf59;
//   --color-yellow: #f9b50c;
//   --color-dark: #1d1d1d;
//   --color-bg: #1a1a1a;
//   --color-white: #ffffff;
//   --font-main: 'Bluu Next Cyrillic', serif;
//   --font-accent: 'Inter', sans-serif;
// }

$color-gold: #fabf59;
$color-yellow: #f9b50c;
$color-dark: #1d1d1d;
$color-bg: #1a1a1a;
$color-white: #ffffff;
$font-main: 'Bluu Next Cyrillic', serif;
$font-accent: 'Inter', sans-serif;
